.PrincipalContainerTableTracking{
    padding-bottom: 10rem;
}

.PrincipalContainerTableTracking h3{

    text-align: center;
    font-size: 2.3rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: #f19101;

}

.TableTackingContainer {
    overflow-y: hidden;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
}

.TableTackingContainer h3 {
    background-color: transparent;
}

.TableTacking table {

    border-collapse: collapse;
    min-width: 50rem;
    /* margin: 25px 0; */
    font-size: 1.2rem;
    /* min-width: 400px; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.TableTacking .ant-table-cell{
    padding: 1rem ;
    /* padding: 0; */
}

.ant-table-tbody  {
    padding: 1rem ;
}

.TableTacking .ant-table-thead > tr > th {
    background-color: #4e62cf;
    text-align: center;
    color: white;
    font-weight: bold;
}

.TableTacking .ant-table-thead {
    background: #4e62cf;
}

.TableTacking  .ant-table-column-title,
.ant-table-summary{
    z-index: 0;
}

.TableTacking thead tr {

    color: #ffffff;
    text-align: left;
    font-size: 1.4rem;
}

.TableTacking th,
.TableTacking td {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background: transparent;
    text-align: center;
}

.TableTacking tbody tr {
    border-bottom: 1px solid #dddddd;
}

.TableTacking tbody tr:last-of-type {
    /* border-bottom: 2px solid #009879; */
}

.TableTacking tbody tr.active-row {
    font-weight: bold;
    /* color: #009879; */
}

.ant-table-tbody > .tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover{
    background: rgb(226, 220, 220) !important;
}

.MarkInvoice a {
    color: inherit;
}

.MarkInvoice {
    background-color: #f88b8b;
    color: black;
    font-weight: bold;
}
